<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title>
            Student Record
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Student Information</ion-card-title>
            <ion-card-subtitle>Please Fill Up The Form.</ion-card-subtitle>
        </ion-card-header>
        <ion-list>

            <ion-item>
                <ion-label position="floating"> Student Number</ion-label>
                <ion-input [(ngModel)]="student_number" type="text"> </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating"> Student Name</ion-label>
                <ion-input [(ngModel)]="student_name" type="text"> </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating"> Email Address</ion-label>
                <ion-input [(ngModel)]="email" type="text"> </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating"> Address</ion-label>
                <ion-input [(ngModel)]="address" type="text"> </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating"> Contact Number</ion-label>
                <ion-input [(ngModel)]="contact_num" type="text"> </ion-input>
            </ion-item>


            <!--button-->
            <br>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" (click)="addStudent()" color="warning" shape="round" expand="block">
                        <ion-icon name="person-add-outline"></ion-icon>Add Student</ion-button>
                </ion-col>
            </ion-row>

        </ion-list>
    </ion-card>
</ion-content>